@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientBG 8s ease infinite;
}

.drop-shadow-glow {
  text-shadow: 0px 0px 8px rgba(34, 255, 0, 0.8);
}
